version: "3.8"
services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "8000:8000"  # Application port
      - "2345:2345"  # Delve debugger port
    volumes:
      - .:/go/src/go-onsite-app
      # Cache go modules
      - go-modules:/go/pkg/mod
    security_opt:
      - "apparmor=unconfined"
      - "seccomp=unconfined"
    cap_add:
      - SYS_PTRACE
    environment:
      - CGO_ENABLED=0
      - TZ=Europe/Paris

volumes:
  go-modules:


networks:
  onsite:
    name: onsite
    ipam:
      driver: default
      config:
        - subnet: "192.168.10.0/24"
          gateway: "192.168.10.1"